{% extends 'app/base.html' %}
{% load static %}
{% block title %}Bottom Wear{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-3">
   <div class="list-group">
    <a href="{% url 'bottomwears' %}" class="list-group-item list-group-item-action" aria-current="true">All Bottomwears</a>
    <a href="{% url 'bottomwearsdata' 'Killer' %}" class="list-group-item list-group-item-action" aria-current="true">Killer</a>
    <a href="{% url 'bottomwearsdata' 'Lee' %}" class="list-group-item list-group-item-action" aria-current="true">Lee</a>
    <a href="{% url 'bottomwearsdata' 'RodStar' %}" class="list-group-item list-group-item-action" aria-current="true">RodStar</a>
    <a href="{% url 'bottomwearsdata' 'SPARKY' %}" class="list-group-item list-group-item-action">SPARKY</a>
    <a href="{% url 'bottomwearsdata' 'bellow' %}" class="list-group-item list-group-item-action">Bellow 1000</a>
    <a href="{% url 'bottomwearsdata' 'above' %}" class="list-group-item list-group-item-action">Above 1000</a>
   </div>
  </div>
  <div class="col-sm-8">
   <div class="row">
    {% for product in bottomwear %}
     <div class="col-sm-6 text-center mb-4">
        <a href="{% url 'product-detail' product.id %}" class="btn">
            <div class="item">
                <img src="{{product.product_image.url}}" alt="" height="300" class="">
                <div class="fw-bold">{{product.title}}</div>
                <div class="fw-bold">Rs. {{product.discounted_price}}
                <small class="fw-light text-decoration-line-through"> {{product.selling_price}}</small></div>
            </div>
        </a>
      </div>
    {% endfor %}
    </div>
  </div>
 </div>
</div>
{% endblock main-content %}